.container {
  width: 73.6rem;
  height: 7.2rem;
  background-color: var(--gray-500);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 8px;
}

.container label {
  flex: 0 0 80%;
  color: var(--gray-100);
}

.container:not(:last-child) {
  margin-bottom: 1.2rem;
}

.container button {
  background-color: transparent;
  border: none;
}

.container svg {
  color: var(--gray-300);
  transition: all 1s;
}

.container svg:hover {
  color: var(--blueDark);
}
