.container {
  margin-top: -2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formNewTask {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
}

.newTask {
  height: 5.4rem;
  width: 63.8rem;
  background-color: var(--gray-500);
  border-radius: 8px;
  border: 1px solid var(--gray-700);
  padding-left: 10px;
  color: var(--gray-100);
}

.newTask::placeholder {
  padding-left: 10px;
}

.addNewTask {
  background-color: var(--blueDark);
  border: transparent;
  border-radius: 8px;
  height: 5.2rem;
  width: 9rem;

  color: var(--gray-100);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.addNewTask[type=submit]:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
